{{template "header"}}
<style>
    .page-container {
        position: relative;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 36px;
        font-family: Arial, sans-serif;


    }

    .center-text {
        text-align: center;
    }

    .error-notification {
        display: inline-block;
        padding: 10px;
        background-color: #ffffff;
        color: #000000;
        border: 5px solid #ff6060;
        border-radius: 4px;
        margin-bottom: 1px;
        font-size: 36px;
        font-family: Arial, sans-serif;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        border-spacing: 3px 0;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #333;
        width: 80%;
    }

    th,
    td {
        padding: 5px;
        text-align: center;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .form-control {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        border-spacing: 3px 0;
        font-family: Arial, sans-serif;
        font-size: 36px;
        color: #000000;

    }

    .btn {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        border-collapse: separate;
        border-spacing: 3px 0;
        font-family: Arial, sans-serif;
        font-size: 36px;
        color: #ffffff;

    }

    .center-text {
        text-align: center;
    }

    .WordOriginalTranscription {
        font-size: 36px;
    }

    .WordOriginalSynonyms {
        font-size: 36px;
    }
</style>
<main>
    <h2 class="center-text"></h2>

    <h3 class="center-text error-notification word-translated">{{.WordTranslated}}</h3><br>
    <h3 class="center-text error-notification word-original" id="WordOriginal-text">{{.WordOriginal}}</h3>
    <h3 class="center-text WordOriginalTranscription">{{.WordOriginalTranscription}}</h3>
    <h3 class="WordTranslated-text WordOriginalSynonyms">{{.WordOriginalSynonyms}}</h3>
    <form action="/wordOtvet" method="POST" class="form-container">
        <input type="text" name="word" id="word" placeholder="Введите перевод" class="form-control" autofocus><br>
        <button id="speak-button" class="btn btn-info">Play</button>
        <button class="btn btn-warning">Send</button>
    </form>
</main>
{{template "footer"}}
<script>
    function speak(text) {
        const utterance = new SpeechSynthesisUtterance(text);
        window.speechSynthesis.speak(utterance);
    }

    window.addEventListener("DOMContentLoaded", () => {
        const WordOriginalTextElement = document.getElementById("WordOriginal-text");
        const speakButton = document.getElementById("speak-button");
        if (WordOriginalTextElement && speakButton) {
            const WordOriginalText = WordOriginalTextElement.textContent;

            // Воспроизвести текст автоматически при загрузке страницы
            speak(WordOriginalText);

            // Воспроизвести текст при нажатии на кнопку
            speakButton.addEventListener("click", () => {
                speak(WordOriginalText);
            });
        }
    });
</script>